body{
	background: #606bff;
	font-family: 'Roboto Slab', serif;
}

.box{
	width: 300px;
	height: 350px;
	background: #ad60ff;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	margin-top: 110px;
	box-shadow: 8px 8px #4a4678;
}

.text-box{
	width: 200px;
	height: 20px;
	text-align: center;
	border: none;
	border-radius: 30px;
	
}

.text-box2{
	width: 80px;
	height: 25px;
	text-align: center;
	border: none;
	border-radius: 10px;
	background: #b380cf;
	
}

.bodyprinc{
	text-align: center;
	margin-top: 120px;
	font-size: 150%;
}

a{
	text-decoration: none;
	margin-left: 30px;
	color: #000; 
}

a:hover{
	color: #fff;
	transition: 0.15s;
}

.linkprinc{
	margin-top: 50px;
	margin-right: 120px;
	margin-left: 500px;
	width: 20px;
	height: 125px;
	background:#4a4678;
	border-radius: 8px;
}
.tabela td{
			border-collapse: collapse;
			border: none ;
			text-align: center;
			background:#b380cf; 
			@charset "UTF-8";

		}
.dado{
	width: 10%;
}
.text-box7{
	width: 200px;
	height: 35px;
	text-align: center;
	border: none;
	border-radius: 10px;
	background: #fff;
	float: left;
	
	
}
.formulario{
	width: 1000px;
	height: 500px;
	margin-left: 20px;
	float: left;

}
.butto{
	margin-top: 170px;
	margin-right: 900px;
	border: none;
	border-radius: 10px;
	height:  25px;
}
.butto2{
	margin-top: 50px;
	margin-right: 900px;
	border: none;
	border-radius: 10px;
	height:  25px;
}
.voltar{ 
	display: inline-block;
}
.butto0{
	margin-top: 30px;
	margin-right: 900px;
	border: none;
	border-radius: 10px;
	height:  25px;
}